
.home {

    display: flex;
    
    
    .homeContainer {
        overflow: hidden;
        // background-color: lightblue;
        flex: 6;
        margin-left: 26rem !important;
    }
}

