@import 'src/main';

.channel-modal {

}


.channel-header {
  background: $card-header-color;
  border: 0 !important;
}

.channel-body {
  background: $auth-bg;
  padding: 2rem !important;

  .channelform {
    padding: 1rem 3rem;

    .form-first-section-channel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }


    label {
      font-size: 1.5rem;

    }

    input, textarea, select {
      background: $input-bg-color;
      border: 0;
      outline: 0;
      border-radius: 2px;
      color: white;
      font-size: 1.3rem;

      &::placeholder {
        color: grey;
        font-size: 1.3rem;

      }
    }

    select {
      &::selection {
        color: white !important;
        font-size: 1.3rem;
      }
    }

    .file-upload {
      label {
        width: 3rem;
        height: 2rem;
      }
    }

  }


}

.channel-footer {
  background: $secondary_color !important;
  border: 0 !important;
}

.file-upload-preview-image {
  img {
    width: 13rem;
    height: 9rem;
    border-radius: 5px;
  }
}


.channel-form-upload-button {
  display: block;
  color: white;
  width: 13rem;
  height: 9rem;
  border-radius: 5px;
  background: #393B50;
}

