.main {
  padding: 2rem;
  padding-left: 3rem;
}


.search-input {
  outline: none;
  border: none;
  padding: 1rem;
}

.input-group-text {
  padding: 0 2rem !important;
  background: #222432 !important;
  border: 0 !important;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;


}



.form-floating {
  background: #222432 !important;


}

input {
  width: 99% !important;
  background: #222432;
  color: white;
  font-size: 1.5rem !important;

}

.searchicon {
  height: 2rem;
  width: 2rem;
}

.search {

  .color-second {
    background: #222432 !important;
    padding: 0.5rem 0;
  }
}

.radius-video-card {
  border-radius: 1rem;
}