
.dashboardCard {

  background-color: #222432 !important;
  border-radius: 1rem !important;
  padding: 0.7rem 1rem !important;
   .card-line::before {
     height: 1rem;
     width: 1rem;
     display: block;

   }

  .card-body {

    h5 {
      font-size: 16px !important;
      font-weight: 600;


    }


    .card-numbers {
      color: white;

      font-weight: 600;
      font-size: 3rem !important;
    }

    .card-tag {
      background: rgba(217, 217, 217, 0.25);
      font-size: 1.2rem;
      padding: 0.3rem 0.8rem;
      border-radius: 3px;
      color: white;
      font-weight: 400;

    }
  }





  .progress {


  }
}