@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color :  #3264B1;;
    --secondary-color : #222432;
    --third-color : #121217;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

legend {
    width: auto;
}

body {
    background-color: #121217;
    color: white;
}

html {
    /* 1rem = 10px */
    font-size: 75%;

}

ul {
    list-style: none;
}

a {
    text-decoration: none
;
}